a {
  color: #64b0f2;
}

a:hover {
  color: #2682d2;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 300;
  color: #3e3e3e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  line-height: 30px;
}

h4,
h5,
h6 {
  line-height: 24px;
}

h1 {
  display: none;
}

h2 {
  margin: 30px auto 0;
}

h3 {
  margin: 0;
  padding: 10px 0 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

hr {
  width: 60%;
  border-top: 1px solid #a2cff7;
  margin: 10px auto 40px;
}

img {
  max-width: 100%;
}

.lead {
  font-size: 16px;
}

.intro-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  color: #f8f8f8;
  background-color: #120718;
  background-image: url("./img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  box-shadow: 0 0 200px 50px rgba(0,0,0,0.9) inset;
}

.intro-header-logo {
  margin-bottom: 20px;
}

.webp .intro-header {
  background-image: url("./img/intro-bg.webp");
}

.intro-message {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}

.intro-message > h1 {
  margin: 0;
  font-size: 5em;
}

hr.intro-divider {
  width: 60%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px auto;
}

.intro-link {
  color: white;
  margin: 0 5px;
}

.intro-link:hover {
  color: #a1a1a1;
  text-decoration: none;
}

.intro-social-buttons {
  padding: 20px;
}

.intro-social-icon {
  position: relative;
  margin-right: 5px;
  top: 2px;
}

.intro-social-icon svg {
  height: 15px;
  fill: white;
}

.nav-bar-social-link:hover  .intro-social-icon svg,
.intro-link:hover .intro-social-icon svg {
  fill: #a1a1a1;
}

.filter {
  position: relative;
  -webkit-filter: contrast(140%) sepia(50%);
  filter: contrast(140%) sepia(50%);
}

.filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: lighten;
  background: rgba(161, 44, 199, 0.31);
}

.show-item {
  margin-bottom: 20px;
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.content-section-small {
  padding-bottom: 60px;
  overflow: hidden
}

.content-section-light {
  background-color: #f5f5f5;
}

.content-section-dark {
  background-color: #1e1e1e;
  color: white;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.content-section-contact {
  padding: 50px 0 120px;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.facility-image {
  width: 100%;
  display: inline-block;
  padding: 12px;
}

.facility-image img {
  width: 100%;
}

.facility-image-small {
  width: calc(50% - 3px);
}

.thumbnail {
  border-color: #a2cff7;
}

.thumbnail img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-primary {
  background-color: #a2cff7;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #81b3de;
  border-color: transparent;
}

footer {
  padding: 20px 0;
}

p.copyright {
  margin: 15px 0 0;
}

.navbar-default {
  color: white;
  border-color: transparent;
  background-color: transparent;
}

.navbar-default-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgb(30, 30, 30);
  box-shadow: inset 0 5px 40px -5px black, 0 -15px 60px black;
}

.navbar-fixed-top {
  border-width: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: white;
  background-color: #333333;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #a1a1a1;
}

.nav>li>a {
  padding: 20px 10px;
  font-size: 13px;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.nav>li>a.nav-bar-social-link {
  display: inline-block;
  padding: 20px 8px;
}

.navbar-brand {
  padding: 12px;
}

.navbar-brand img {
  height: 40px;
}

.navbar-header {
  min-height: 60px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery figure {
  background-color: #e7e7e7;
  display: inline-block;
  margin: 5px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.gallery img {
  height: 150px;
  max-width: none;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin-left: 50%;
}

.map {
  display: block;
  border:0;
  width: 100%;
  min-height: 400px;
  height: 50vh;
  background-image: url("./img/map-fallback.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.webp .map {
  background-image: url("./img/map-fallback.webp");
}

.sponsor a{
  color: white;
}

.sponsor-image img{
  border-radius: 50%;
  margin-bottom: 15px;
}

@media(max-width:767px) {
  .nav>li {
    padding: 10px 20px;
  }

  .nav>li>a {
    padding: 0;
  }
  .nav>li>a.nav-bar-social-link {
    padding: 0;
    margin-right: 10px;
  }
  .facility-image-small {
    width: 100%;
  }
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }

  .navbar-header {
    background: #1E1E1E;
  }

  .navbar-collapse {
    position: absolute;
    z-index: -1;
    width: 100%;
    background: #1E1E1E;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: transform 0.25s;
    box-shadow: none;
  }
  .expand {
    display: block;
    overflow: hidden;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  .navbar-toggle {
    margin: 13px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }
  .show-item p,
  .show-item h5 {
    font-size: 14px;
    line-height: 21px;
  }
}
