a {
  color: #64b0f2;
}

a:hover {
  color: #2682d2;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: #2e2e2e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  margin: 0 auto;
  line-height: inherit;
  font-size: inherit;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  display: none;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  padding: 10px 0 20px;
}

p {
  margin-bottom: 30px;
}

hr {
  width: 50%;
  min-width: 300px;
  border-top: 1px solid #a2cff7;
  margin: 10px auto 40px;
}

img {
  max-width: 100%;
}

#confetti {
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0;
  top: 0;
}

.lead {
  font-size: inherit;
  margin-bottom: 30px;
}

.intro-header {
  position: relative;
  text-align: center;
  color: #f8f8f8;
}

.intro-header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #120718;
  background-image: url("./img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  box-shadow: 0 0 400px 50px rgba(0,0,0,0.9) inset;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.9);
}

.intro-header-background-party {
  background-image: url("./img/intro-bg-party.jpg");
}

.intro-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 150px 0;
}

.intro-header-logo {
  margin-bottom: 20px;
}

.webp .intro-header-background {
  background-image: url("./img/intro-bg.webp");
}

.intro-message {
  position: relative;
  overflow: hidden;
}

hr.intro-divider {
  width: 60%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px auto;
}

.intro-link {
  color: white;
  margin: 0 5px;
}

.intro-link:hover {
  color: #a1a1a1;
  text-decoration: none;
}

.intro-social-buttons {
  padding: 15px;
  margin-bottom: 0;
}

.intro-social-icon {
  position: relative;
  margin-right: 5px;
  top: 2px;
}

.intro-social-icon svg {
  height: 15px;
  fill: currentColor;
}

.intro-button-container {
  display: flex;
}

.intro-button.btn-primary {
  flex-grow: 1;
  padding: 20px;
  background-color: transparent;
  border-color: white;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-bar-social-link:hover  .intro-social-icon svg,
.intro-link:hover .intro-social-icon svg {
  fill: #a1a1a1;
}

.filter {
  -webkit-filter: contrast(140%) sepia(50%);
  filter: contrast(140%) sepia(50%);
}

.filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: lighten;
  background: rgba(161, 44, 199, 0.31);
}

.party-filter {
  -webkit-filter: contrast(110%) sepia(20%);
  filter: contrast(110%) sepia(20%);
}

.party-filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: lighten;
  background: linear-gradient(217deg, rgba(255, 255, 0, 0.25), rgba(255, 255, 0, 0) 70.71%),
            linear-gradient(127deg, rgba(255, 0, 255, 0.25), rgba(255, 0, 255, 0) 70.71%),
            linear-gradient(336deg, rgba(0, 0, 255, 0.25), rgba(0, 0, 255, 0) 70.71%);
}

.show-item {
  margin: 30px 0 0;
}

.network-name {
  text-transform: uppercase;
  font-size: inherit;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-section-small {
  padding-bottom: 60px;
  overflow: hidden
}

.content-section-light {
  background-color: #f5f5f5;
}

.content-section-dark {
  background-color: #1e1e1e;
  color: white;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.content-section-contact {
  padding: 50px 0 120px;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.facility-image {
  width: 100%;
  display: inline-block;
  padding: 12px;
}

.facility-image img {
  width: 100%;
}

.facility-image-small {
  width: calc(50% - 3px);
}

.thumbnail {
  border-color: #a2cff7;
  line-height: inherit;
}

.thumbnail img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn svg {
  height: 15px;
  fill: currentColor;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 2px;
}

.btn-primary {
  background-color: #91bfe8;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #81b3de;
  border-color: transparent;
}

.sale-link {
  margin-bottom: 8px;
}

footer {
  padding: 40px 0;
}

.copyright {
  display: block;
  font-size: 12px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 20px;
}

.copyright-small {
  display: block;
  font-size: 12px;
  line-height: 20px
}

.copyright-small a {
  color: inherit;
}

.copyright-small a:hover,
.copyright-small a:focus {
  text-decoration: underline;
}

.navbar-default {
  color: white;
  border-color: transparent;
  background-color: transparent;
}

.navbar-default-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgb(30, 30, 30);
  box-shadow: inset 0 5px 40px -5px black, 0 -15px 60px black;
}

.navbar-fixed-top {
  border-width: 0;
}

.navbar-default .navbar-nav {
  display: flex;
  align-items: baseline;
  padding: 20px 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: white;
  background-color: #333333;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #a1a1a1;
}

.nav>li>a {
  padding: 0 10px;
  font-size: 12px;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.nav>li>a.nav-bar-social-link {
  display: inline-block;
  padding: 0 8px;
}

.navbar-brand {
  padding: 12px;
}

.navbar-brand img {
  height: 34px;
  margin: 3px 0;
}

.navbar-header {
  min-height: 60px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: initial;
}

.navbar-default .navbar-toggle.toggled, .navbar-default .navbar-toggle.toggled:hover, .navbar-default .navbar-toggle.toggled:focus {
  background-color: #ddd;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery figure {
  background-color: #2e2e2e;
  display: inline-block;
  margin: 5px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
}

.gallery img {
  height: 150px;
  max-width: none;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin-left: 50%;
}

.map {
  display: block;
  border:0;
  width: 100%;
  min-height: 400px;
  height: 50vh;
  background-image: url("./img/map-fallback.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.map-content {
  width: 100%;
  height: 100%;
}

.webp .map {
  background-image: url("./img/map-fallback.webp");
}

.sponsor a{
  color: white;
}

.sponsor-image img{
  border-radius: 50%;
  margin-bottom: 15px;
}

@media(max-width:991px) {
  .nav>li>a {
    padding: 0 6px;
    font-size: 12px;
  }
  .nav>li>a.nav-bar-social-link {
    padding: 0 4px;
  }
}

@media(min-width:768px) {
  .navbar-default .navbar-collapse.navbar-fade {
    opacity: 1 !important;
  }
}

@media(max-width:767px) {
  .navbar-default .navbar-nav {
    display: block;
    padding: 0;
  }
  .nav>li {
    padding: 10px 20px;
  }

  .nav>li>a {
    padding: 0;
  }
  .nav>li>a.nav-bar-social-link {
    padding: 0;
    margin-right: 10px;
  }
  .facility-image-small {
    width: 100%;
  }
  .intro-message {
    padding-bottom: 15%;
  }

  ul.intro-social-buttons > li {
    display: block;
    padding: 3px;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }

  .intro-link {
    font-size: 14px;
  }

  .intro-button-container {
    justify-content: center;
  }

  .intro-button.btn-primary {
    flex-basis: 33%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px;
    margin: 10px 5px;
    font-size: 14px;
  }

  .navbar-header {
    background: transparent;
  }

  .navbar-default .navbar-collapse {
    position: absolute;
    top: 0;
    z-index: -2;
    padding-top: 60px;
    width: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: transform 0.25s, opacity 0.25s;
    box-shadow: none;
    max-height: initial;
    background-color: rgb(30, 30, 30);
  }
  .navbar-default .navbar-collapse.expand {
    display: block;
    overflow: hidden;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  .navbar-default .navbar-collapse.navbar-fade {
    display: block;
    opacity: 0;
  }
  .navbar-default .navbar-collapse.expand.navbar-fade {
    opacity: 1 !important;
  }
  .navbar-toggle {
    margin: 13px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }
  .show-item p,
  .show-item h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .sale-link {
    width: 100%;
  }
}
