<!-- About Section -->
<meta itemprop="currenciesAccepted" content="USD">
<meta itemprop="openingHours" content="Tu-Fri 9:00-18:00">
<meta itemprop="openingHours" content="Sat 8:00-17:00">
<meta itemprop="image" content="https://www.seascapesporthorses.com/img/horses/hotline-bling-charis-woodside-jumping.jpg">
<section id="about" class="container content-section">
  <div class="row text-center">
    <div class="col-lg-12">
      <h2>About</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p>
        Seascape Sport Horses is a boutique Hunter/Jumper training program. We serve the Gilroy area and are located at the beautiful Stagnaro Stables, offering elite horseback riding lessons for all levels.
      </p>
      <p>
        Established in 2016 by Charis Dankert, out of the Bonny Doon Equestrian Park, the initial focus was the importation of European sport horses for showing and sale in California. A year into operation, after several successful sales, the business expanded to include riding lessons and clients for training. Shannon Wilson joined the team in early 2017 as business partner and trainer.
      </p>
      <p>
        In 2018 the business moved to Stagnaro Stables in Gilroy, California. The new location is a fantastic fit, providing top notch care for the horses and a private facility for SSH to train out of. We strive to provide our clients and their horses with impeccable care, training and attention, in our close knit barn family. We aim to give our horses and riders the skills and encouragement to be the best they can be at any level.
      </p>
      <p>
        Highlights from last year's competitive show season include SkyFall, Zone 10 Five Year Old Jumper Champion and Lucca, Zone 10 6th place 3’3” Young Hunter Division.
      </p>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
      <div class="text-center">
        <h3>Charis Dankert</h3>
        <div class="img-thumbnail">
          {% include lazy_image.html src="./img/gallery/image4-small" itemprop="thumbnail" alt="Charis Dankert" %}
        </div>
      </div>
      <br/><br/>
      <p>
        Charis has always felt passionate about horses. As a small child, she wanted to learn to ride and to have her own horse. Throughout her early years, she learned to competitively ride from various professionals in the community. Her decision to pursue a professional career in the industry came while  riding as a junior on the A Circuit for Pebble Beach Equestrian Center under trainer Tracy Cotchett.
      </p>
      <p>
        Charis attended the University of Findlay in Ohio, where she completed two baccalaureate programs in Equestrian Studies and Equine Business. She received her Bachelor of Science degree in 2008. She participated on the Intercollegiate Horse Show Association (IHSA) team and competed in the equitation and jumper divisions for Findlay's rated show team. Following graduation, she worked in Virginia where she fell in love with the hunters. It was here she was introduced to importing and working with young horses and inspired by the high levels of sportsmanship and professionalism. She was thrilled to compete at Upperville, Loudoun Benefit, HITS Culpeper, and the Kentucky Horse Park, where she observed some of the best hunter riders in the country.
      </p>
      <p>
        Returning to California, Charis worked as an assistant trainer for several professionals in the San Francisco Bay Area, while also being employed as a licensed RVT ICU Veterinary technician for an emergency animal hospital in Santa Cruz. In 2016, Charis established Seascape Sport Horses with a focus on importing European horses while developing specialized training programs for both horse and rider.
      </p>
      <p>
        Charis strives for impeccable planning, preparation, and safety for both horse and rider. The happiness and well-being of every horse remains at the center of all her professional goals.
      </p>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
      <div class="text-center">
        <h3>Shannon Wilson</h3>
        <div class="img-thumbnail">
          {% include lazy_image.html src="./img/gallery/image5-small" itemprop="thumbnail" alt="Shannon Wilson" %}
        </div>
      </div>
      <br/><br/>
      <p>
        Shannon grew up in San Diego with a love of horses that began at a very young age. Her first lesson at 8 years old turned into weekly lessons, which very quickly turned into a lifelong passion. As a junior rider she was guided by Pat Lautenbach of Newmarket Farms in Del Mar, finding the majority of her success in the Equitation and Medal classes. She owes her love of the sport to Pat and feels extremely lucky to have had such an amazing trainer during her junior career. Coming from limited funds she worked summers and groomed at shows to help afford her riding. She was given amazing riding opportunities on horses that taught her many important lessons both in and out of the show ring.
      </p>
      <p>
        During college she took time off from the horse world to focus on her studies earning a Bachelor of Science degree in Geographic Information Science, minoring in Computer Science from San Diego State University. An internship at the USGS in Menlo Park moved her up north to the Bay Area. During her days off she began riding for a local trainer which reignited the spark all over again. Deciding to follow her true passion in life, she quit her internship and worked as an Assistant Trainer to many of the top show barns in the Bay Area. She has found success in the show ring as a professional in the hunters and jumpers on the A circuit in Northern California. In 2016 her former colleague and good friend, Charis Dankert, began Seascape Sport Horses. It was a natural fit for Shannon to join SSH in January 2017 as business partner and trainer.
      </p>
      <p>
        Shannon brings her love of horses and positive personality to each horse and student she works with. She believes that a systematic, enjoyable and customized training schedule brings out the best in horse and rider. Seeing a young rider or young horse learn a new skill and become more confident in their abilities is one her favorite parts of the job.
      </p>
    </div>
  </div>
</section>
