<!-- About Section -->
<meta itemprop="currenciesAccepted" content="USD">
<meta itemprop="openingHours" content="Tu-Fri 9:00-18:00">
<meta itemprop="openingHours" content="Sat 8:00-17:00">
<meta itemprop="image" content="https://www.seascapesporthorses.com/img/horses/hotline-bling-charis-woodside-jumping.jpg">
<section id="about" class="container content-section text-center">
  <div class="row">
    <h2>About</h2>
    <hr>
    <div class="col-lg-12">
      <p>
        Seascape Sport Horses is an elite Hunter/Jumper training program. We serve the Gilroy area and are located at the beautiful Stagnaro Stables, offering elite horseback riding lessons for all levels. Founded in 2016 by Charis Dankert, SSH began with importing high-end European sport horses to compete in hunters, jumpers, and equitation. In 2017, Shannon Wilson joined the team and together they have branched out to offer training and lessons.
      </p>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3>Charis Dankert</h3>
      <div class="img-thumbnail">
        {% include lazy_image.html src="./img/gallery/image4-small" itemprop="thumbnail" alt="Charis Dankert" %}
      </div>
      <br/><br/>
      <p>
        Seascape Sport Horses is an elite Hunter/Jumper training program. We serve the Gilroy area and are located at the beautiful Stagnaro Stables, offering elite horseback riding lessons for all levels. Founded in 2016 by Charis Dankert, SSH began with importing high-end European sport horses to compete in hunters, jumpers, and equitation. In 2017, Shannon Wilson joined the team and together they have branched out to offer training and lessons.
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3>Shannon Wilson</h3>
      <div class="img-thumbnail">
        {% include lazy_image.html src="./img/gallery/image5-small" itemprop="thumbnail" alt="Shannon Wilson" %}
      </div>
      <br/><br/>
      <p>
        Seascape Sport Horses is an elite Hunter/Jumper training program. We serve the Gilroy area and are located at the beautiful Stagnaro Stables, offering elite horseback riding lessons for all levels. Founded in 2016 by Charis Dankert, SSH began with importing high-end European sport horses to compete in hunters, jumpers, and equitation. In 2017, Shannon Wilson joined the team and together they have branched out to offer training and lessons.
      </p>
    </div>
  </div>
</section>
