    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Seascape Sport Horses</h2>
              <br/>
              <p>Seascape Sport Horses is an elite Hunter/Jumper training program. We serve the Santa Cruz area and are located at the beautiful Bonny Doon Equestrian Park, offering elite horseback riding lessons for all levels. Founded in 2016 by Charis Dankert, SSH began with importing high-end European sport horses to compete in hunters, jumpers, and equitation. In 2017, Shannon Wilson joined the team and together they have branched out to offer training and lessons.</p>
              <br/>
            </div>
        </div>
    </section>
