<section id="contact">
  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-sm-12 text-center">
          <div class="clearfix"></div>
          <h2>Contact</h2>
          <hr>
          <div class="col-lg-4 col-sm-12">
            <h4>Email</h4>
            <a class="lead" href="mailto:seascapesporthorses@gmail.com" itemprop="email">seascapesporthorses@gmail.com</a>
          </div>
          <div class="col-lg-4 col-sm-12">
            <h4>Phone</h4>
            <a class="lead" href="tel:1-831-359-5588" itemprop="telephone">(831)359-5588</a>
          </div>
          <div class="col-lg-4 col-sm-12">
            <h4>Location</h4>
            <a class="lead" href="https://www.google.com/maps/place/10390+New+Ave,+Gilroy,+CA+95020" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
              <span itemprop="streetAddress">10390 New Ave</span>, <span itemprop="addressLocality">Gilroy</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">95020</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/html" data-lazyload>
    <iframe class="map" src="https://snazzymaps.com/embed/48970" style="border:none;"></iframe>
  </script>
</section>
