<section id="contact">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-sm-12">
          <div class="clearfix"></div>
          <h2 class="text-center">Contact</h2>
          <hr>
          <div class="col-lg-4 col-lg-offset-2 col-sm-12">
            <h4>Email</h4>
            <a class="lead" href="mailto:seascapesporthorses@gmail.com" itemprop="email">seascapesporthorses@gmail.com</a>
            <h4>Phone</h4>
            <a class="lead" href="tel:1-831-359-5588" itemprop="telephone">(831)359-5588</a>
            </div>
          <div class="col-lg-4 col-sm-12">
            <h4>Location</h4>
            <a class="lead" href="https://www.google.com/maps/place/10390+New+Ave,+Gilroy,+CA+95020" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
              <span itemprop="streetAddress">10390 New Ave</span>, <span itemprop="addressLocality">Gilroy</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">95020</span>
            </a>
            <script type="text/html" data-lazyload>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3183.9100784108323!2d-121.55188168470272!3d37.05962597989589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091e13a18d3699d%3A0xe226a261eb4ed0f1!2s10390+New+Ave%2C+Gilroy%2C+CA+95020!5e0!3m2!1sen!2sus!4v1517814928211" width="315" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
            </script>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
</section>
<!-- /.banner -->
