<!-- Facility Section -->
<div class="content-section-light">
  <section id="facility" class="container content-section">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>Facility</h2>
        <hr>
        <h4>Seascape Sport Horses is located in Gilroy, CA out of Stagnaro Stables.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <br/>
        <p>
          Stagnaro Stables is a small, privately-owned facility, on 11 flat and gently sloping acres. The grounds are maintained with the utmost care and concern of our animals. Every spacious stall has an attached sand paddock so your horse has access to sun and shade and can freely walk between both all day. All paddocks are equipped with large fresh-water sources, and all stalls are rubber matted. We have several large turnout paddocks for horses to forage and play on a daily basis. The entire property is surrounded by perimeter fencing and a gated entry for security.
        </p>
        <p>
          Our large arena has new Pos-A-Trac footing, which allows for maximum cushion and traction while jumping, and is meticulously cared for. Amenities include, washracks, cross-ties, tack-room, space for tack trunks, and arena viewing area. The property also boasts an olive-tree lined bridle path around the property's vineyard and a round-pen for exercising. The owners of Stagnaro Stables, Michelle Arani and Xan Owens, are on sight 24/7 and treat each horse as if they were their own.
        </p>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="facility-image facility-image-small">
          {% include lazy_image.html src="./img/facility/barn-small" alt="Stagnaro Stables Barn" %}
        </div>
        <div class="facility-image facility-image-small">
          {% include lazy_image.html src="./img/facility/turnout-small" alt="Stagnaro Stables Turnout" %}
        </div>
      </div>
      <div class="row">
        <div class="facility-image">
          {% include lazy_image.html src="./img/facility/arena-small" alt="Stagnaro Stables Arena" %}
        </div>
      </div>
    </div>
  </section>
</div>
