<!-- Footer -->
<footer class="content-section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="copyright">{{ site.copyright }}</span>
        <span class="copyright-small">Photography by
          <a href="https://www.diegotabangophotography.com/">Diego Tabango</a>
          , <a href="https://www.facebook.com/alden.corrigan">Alden Corrigan</a>
          , <a href="https://www.hollycasner.com">Holly Casner</a>
          , <a href="http://www.grandpixphoto.com/">Grand Pix</a>
          , <a href="https://meerapannikkatphotography.pixieset.com/">Meera Pannikkat</a>
          , <a href="http://camilatrepanierphoto.strikingly.com/">Camila Trepanier</a>
          , <a href="https://marcusgreene.smugmug.com/">MGO Photography</a>
          , and <a href="https://gianaterranovaphotography.com/">Giana Terranova</a></span>
      </div>
    </div>
  </div>
</footer>
