<!-- Sales Section -->
<section id="sales" class="container">
  <div class="content-section text-center col-lg-10 col-lg-offset-1">
    <h2>Horses for Sale</h2>
    <div class="row">
      <div class="thumbnail clearfix">
        <div class="col-md-3">
          {% include lazy_image.html src="/img/horses/hotline-bling-charis-woodside-jumping-small" alt="Hotline Bling" %}
        </div>
        <div class="caption col-md-9">
          <h3>Hotline Bling</h3>
          <p>Super flashy imported Polish Warmblood Gelding. Tons of show experience on the A circuit. Lovely trot and jump. Shown in the 3ft Greens this past show season. Scope for 3’6"+. Will make an amazing Eq/Medal horse and will excel in the hunter derbies. Junior/Amateur safe. </p>
          <p><a href="https://www.proequest.com/horse/hotline-bling" target="_blank" class="btn btn-primary" role="button">See Hotline Bling's ProEquest Listing</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="thumbnail clearfix">
        <div class="col-md-3">
          {% include lazy_image.html src="/img/horses/pop-style-shannon-under-saddle-derby-woodside-small" alt="Pop Style" %}
        </div>
        <div class="caption col-md-9">
          <h3>Pop Style</h3>
          <p>Multiple Championships in the baby green divisions at Woodside, Sacramento International and Paso Robles. Has also won multiple large open training hunter classes. Shown by a beginner in the long stirrup at Paso Robles with great ribbons. Coming 5 year old, Pop Style, AKA Bowie, was imported from Holland in June 2016. Bowie is a beautiful hunter prospect by acclaimed stallion Bustique. He is currently 16 hands but will continue to grow. Coursing 3ft with flying changes. Incredibly calm and easygoing personality and not spooky. Very safe and forgiving for a junior or amateur! He will have an amazing future in the hunters and will make and excellent Junior Hunter/Derby Horse. Pop Style's price will increase with training and show experience. </p>
          <p><a href="https://www.proequest.com/horse/pop-style" target="_blank" class="btn btn-primary" role="button">See Pop Style's ProEquest Listing</a></p>
        </div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="thumbnail clearfix">
          <div class="col-md-3">
              <img src="/img/horses/sky-fall-menlo-pic-small" alt="Sky Fall">
            </div>
          <div class="caption col-md-9">
            <h3>Sky Fall</h3>
            <p>Currently leading the zone in points in the 5 Year Old Jumpers. 4th Overall 5 year old Young Jumper Championships at the Oaks International Jumping Festival. Extensive "A" circuit  show record with top placings in the 1.15-1.20 open  jumpers and 5 year old classes. Has competed at Thermal, Woodside, Menlo, Rancho Murrieta. Will easily be able to compete in the 1.30 + jumpers in the future and continue in the 6 year old young jumpers next year. Very amateur friendly. Would also make an amazing Equitation horse. Great price for this talented horse with such an excellent show record!</p>
            <p><a href="https://www.proequest.com/horse/sky-fall" target="_blank" class="btn btn-primary" role="button">See Sky Fall's ProEquest Listing</a></p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="thumbnail clearfix">
        <div class="col-md-3">
          {% include lazy_image.html src="/img/horses/lucca-jumping-small" alt="Lucca" %}
        </div>
        <div class="caption col-md-9">
          <h3>Lucca</h3>
          <p><strong>SOLD!</strong> Congratulations Jill Slater and trainer Missy Froley-Sereni. We are so excited to watch you show this special horse!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="thumbnail clearfix">
        <div class="col-md-3">
          {% include lazy_image.html src="/img/horses/amaretto-sold-pic-small" alt="Amaretto" %}
        </div>
        <div class="caption col-md-9">
          <h3>Amaretto</h3>
          <p><strong>SOLD!</strong> Congratulations Audra Robinson. Best of luck to you both in your future together!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="thumbnail clearfix">
        <div class="col-md-3">
          {% include lazy_image.html src="/img/horses/flashing-lights-portrait-small" alt="Flashing Lights" %}
        </div>
        <div class="caption col-md-9">
          <h3>Flashing Lights</h3>
          <p><strong>SOLD!</strong> Congratulations Nancy Mynott and trainer Carolyn Biava. Best of luck in the Young Hunter division!</p>
        </div>
      </div>
    </div>
  </div>
</section>
