<!-- Sales Section -->
<section id="sales" class="container">
  <div class="content-section text-center">
    <h2>Horses for Sale</h2>
    <hr>
    {% for sale in site.data.sales %}
      <div class="row">
        <div class="thumbnail clearfix col-lg-10 col-lg-offset-1">
          <div class="col-md-3">
            {% include lazy_image.html src=sale.image alt=sale.name %}
          </div>
          <div class="caption col-md-9">
            <h3>{{ sale.name }}</h3>
            <p>{{ sale.description }}</p>
            <p>
              {% if sale.link %}
              <a href="{{ sale.link }}" target="_blank" rel="noopener" class="btn btn-primary sale-link" role="button">
                {% include_relative img/icons/solid/globe.svg %}
                See {{ sale.name }}'s ProEquest Listing
              </a>
              {% endif %}
              {% if sale.video %}
              <a href="{{ sale.video }}" target="_blank" rel="noopener" class="btn btn-primary sale-link" role="button">
                {% include_relative img/icons/brands/youtube.svg %}
                See {{ sale.name }}'s Video
              </a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
