<!-- Sales Section -->
<section id="sales" class="container">
  <div class="row content-section text-center">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Horses for Sale</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="thumbnail clearfix">
        <img src="/img/horses/sky-fall-portrait-small.jpg" alt="Sky Fall" class="col-md-3">
        <div class="caption col-md-9">
          <h3>Sky Fall</h3>
          <p>Fancy Belgian warmblood gelding that's suitable for both the hunter and equitation rings. Spectacular mover with a hack winning trot. Coursing 2'9 at home with the scope and ability to be a very competitive derby mount for both an amateur and professional. Easy flying changes. Super brave to the fences and eager to learn. Priced in the high 40s.</p>
          <p><a href="http://www.proequest.com/horse/sky-fall" class="btn btn-primary" role="button">See Sky Fall's ProEquest Listing</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="thumbnail clearfix">
        <img src="/img/horses/flashing-lights-portrait-small.jpg" alt="Sky Fall" class="col-md-3">
        <div class="caption col-md-9">
          <h3>Flashing Lights</h3>
          <p>Imported from Germany, August 2016, this ultra flashy Westphalian gelding by Lordanos has a hack winning trot, beautiful canter and sweet personality. Currently coursing 2'6"-2'9" at home, he has the scope, talent and style to be a competitive derby mount in the future. Clean radiographs from this year. The show video is from his first show (A-rated) at Paso Robles, November 2016. Great ribbons in competitive company.</p>
          <p><a href="http://www.proequest.com/horse/flashing-lights" class="btn btn-primary" role="button">See Flashing Light's ProEquest Listing</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="thumbnail clearfix">
        <img src="/img/horses/pop-style-portrait-small.jpg" alt="Sky Fall" class="col-md-3">
        <div class="caption col-md-9">
          <h3>Pop Style</h3>
          <p>Coming 4 year old, Pop Style, AKA Bowie, was imported from Holland in June. Bowie is a beautiful hunter prospect by acclaimed stallion Bustique. He is currenlty 16hh but will continue to grow. He is confident under saddle and coursing 2'6"-2'9".  Calm and easygoing personality and not spooky. He will have an amazing future in the hunters. Price to increase with training. $38k</p>
          <p><a href="http://www.proequest.com/horse/pop-style" class="btn btn-primary" role="button">See Pop Style's ProEquest Listing</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="thumbnail clearfix">
        <img src="/img/horses/lucca-standing-small.jpg" alt="Sky Fall" class="col-md-3">
        <div class="caption col-md-9">
          <h3>Lucca</h3>
          <p>Flashy imported Dutch Warmblood gelding Lucca is perfect for both amateurs and professionals. He was  twice Reserve Champion in the Baby Greens at Woodside, Reserve Champion in 2'6" Adult Eq, 1st place in Rusty Stirrup and Reserve Champion, Baby Greens at Brookside. He will easily be able to move up to Pre-Greens and Derbies next year and do the 3’6” or higher in the future. Auto changes, dead quiet and no lunging needed at shows. His canter stays the same around the entire course. Clean X-rays from December 2015 available. Additional videos on Seascape Sport Horses YouTube, Facebook and Instagram. Available to try by appointment.</p>
          <p><a href="http://www.proequest.com/horse/lucca-0" class="btn btn-primary" role="button">See Lucca's ProEquest Listing</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
