<style>
  {% include_relative lib/photoswipe/photoswipe.css %}
  {% include_relative lib/photoswipe/default-skin.css %}
</style>
<script>
  {% include_relative /lib/photoswipe/photoswipe.min.js %}
  {% include_relative /lib/photoswipe/photoswipe-ui-default.min.js %}
  {% include_relative /lib/photoswipe/init.js %}
  document.addEventListener('DOMContentLoaded', function () {
    initPhotoSwipeFromDOM('#gallery');
    // Lazy Loader
    {% include_relative lib/superlazy/superlazy.js %}
    superlazy(({threshold: 1000, interval: 100}));
    // Navbar toggle
    document.getElementsByClassName('navbar-toggle')[0].addEventListener('click', function (event) {
      document.querySelector(event.currentTarget.getAttribute('data-target')).classList.toggle('collapse');
    });
  });
</script>
