<style>
  {% include_relative lib/photoswipe/photoswipe.css %}
  {% include_relative lib/photoswipe/default-skin.css %}
</style>
<script>
  {% include_relative /lib/photoswipe/photoswipe.min.js %}
  {% include_relative /lib/photoswipe/photoswipe-ui-default.min.js %}
  {% include_relative /lib/photoswipe/init.js %}
  {% include_relative /js/smoothscroll.min.js %}
  document.addEventListener('DOMContentLoaded', function () {
    initPhotoSwipeFromDOM('#gallery');
    // Lazy Loader
    {% include_relative lib/superlazy/superlazy.js %}
    superlazy(({threshold: 1000, interval: 100}));
    // Navbar toggle
    document.getElementsByClassName('navbar-toggle')[0].addEventListener('click', function (event) {
      document.getElementById('navbar-dropdown').classList.toggle('expand');
    });
    // Close on scroll
    scrollLinks = document.getElementsByClassName('page-scroll');
    for (var index = 0; index < scrollLinks.length; index++) {
      scrollLinks[index].addEventListener('click', function (event) {
        document.getElementById('navbar-dropdown').classList.add('expand');
        if (window.smoothScroll) {
          event.preventDefault();
          window.smoothScroll(document.querySelector(event.currentTarget.href));
        }
      });
    }
  });
</script>
