<!-- Shows Section -->
<div class="content-section-dark">
  <section id="shows" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Shows</h2>
        <hr>
        <div class="content-section-small">
          <h3 class="col-lg-12">2018 Rated Show Schedule</h3>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>Northern Winter Classic II</h5>
              <p>
                Murieta Equestrian Center
                <br/> February 19th-25th
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>Woodside Spring Preview</h5>
              <p>
                Woodside Horse Park
                <br/> April 23rd-29th
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>Woodside Spring Classic</h5>
              <p>
                Woodside Horse Park
                <br/> April 30th-May 6th
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>Summer Shows TBD</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>Oregon High Desert Classic</h5>
              <p>
                Bend, Oregon
                <br/> July 25th-29th
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>Menlo Charity Horse Show</h5>
              <p>
                Menlo Circus Club
                <br/> August 6th-12th
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>Sacramento International Welcome Week</h5>
              <p>
                Rancho Murieta
                <br/> September 25th-30th
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>Fall Shows TBD</h5>
            </div>
          </div>
        </div>
        <div class="content-section-small">
          <h3 class="col-lg-12">2018 SCHOOLING SHOW SCHEDULE</h3>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>JK Presents Spring Fling</h5>
              <p>
                Woodside Horse Park
                <br/> April 6th-8th
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>Fox n’ Horn</h5>
              <p>
                Santa Cruz County Fairgrounds
                <br/> May 11th-12
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>JK Presents Summer Challenge</h5>
              <p>
                Woodside Horse Park
                <br/> June 9th-10th
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 show-item">
              <h5>Paso Robles Harvest Special</h5>
              <p>
                Paso Robles Horse Park
                <br/> October 13th-14th
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
