<!-- Shows Section -->
<div class="content-section-dark">
  <section id="shows" class="container content-section text-center">
    <div class="row">
      <h2>Shows</h2>
      <hr>
      <div class="col-lg-10 col-lg-offset-1">
        {% for show in site.data.shows %}
          <div class="content-section-small">
            <h3>{{ show.title }}</h3>
            {% for event in show.events %}
              <div class="col-sm-4 col-xs-6 show-item">
                <h5>{{ event.title }}</h5>
                <p>
                  {{ event.location }}
                  <br/>
                  {{ event.date }}
                </p>
              </div>
              {% assign index2 = forloop.index | modulo: 2 %}
              {% assign index3 = forloop.index | modulo: 3 %}
              {% if index2 == 0 %}
                <div class="clearfix visible-xs-block"></div>
              {% endif %}
              {% if index3 == 0 %}
                <div class="clearfix hidden-xs"></div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
