<!-- sponsors section -->
<div class="content-section-dark">
  <section id="sponsors" class="container content-section text-center">
    <h2>sponsors</h2>
    <hr>
    <div class="row">
      <div class="sponsor col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <a target="_blank" href="http://www.antares-sellier.com/en/">
          <div class="sponsor-image">
            {% include lazy_image.html src="./img/sponsors/antares-small" width="300" height="300" %}
          </div>
          <h4 class="sponsor-title">Antares Sellier</h4>
        </a>
      </div>
      <div class="sponsor col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <a target="_blank" href="https://gianaterranovaphotography.com/">
          <div class="sponsor-image">
            {% include lazy_image.html src="./img/sponsors/giana-terranova-photography-small" type="png" width="300" height="300" %}
          </div>
          <h4 class="sponsor-title">Giana Terranova Photography</h4>
        </a>
      </div>
      <div class="sponsor col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <a target="_blank" href="http://mdcstirrups.com/">
          <div class="sponsor-image">
            {% include lazy_image.html src="./img/sponsors/mdc-stirrup-small" width="300" height="300" %}
          </div>
          <h4 class="sponsor-title">MDC Stirrup</h4>
        </a>
      </div>
      <div class="sponsor col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <a target="_blank" href="https://www.facebook.com/stagnarostack/">
          <div class="sponsor-image">
            {% include lazy_image.html src="./img/sponsors/stagnaro-tack-apparel-small" width="250" height="250" %}
          </div>
          <h4 class="sponsor-title">Stagnaro Tack and Apparel</h4>
        </a>
      </div>
    </div>
  </section>
</div>
